body {
  background-color: #e0e2e270;
}

.main{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
	width: 95%;
    max-width: 1440px;
    min-width: 200px;
    margin: auto;
    padding: .5rem 0;
    overflow: hidden;	
}
.intDiv{
	width: 85%;
    max-width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border-bottom: 2px solid lightgrey;	
}
@media screen and (min-width: 1024px)
.launch-programs.jsx-837661249 {
    display: grid;
    grid-template-columns: 18% 82%;
    margin: 0.5rem 0;
}

#headerId{
	font-size: 1.5rem;
    font-weight: bold;
}

.col-3_yearTile{
	background-color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    height: auto;
    max-height: 660px;	
}

.filterLable{
	text-align: center;
}

.lineClass{
	margin: auto;
}

#filterId{
	padding-left: 1rem;
	font-size: 1rem;
    font-weight: bold;
}

.launchButtonYear{
	margin-top: -0.5rem;
    margin-bottom: 15rem;
}

.span1{
	margin-bottom: 1.5rem;
    cursor: pointer;
}
.launchButton{
	width: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0.5rem;
    max-width: 180px;
	
}

.launchButton1{
	cursor: pointer;
	background-color: #90ee90;
    padding: .25rem 1rem;
    border-radius: 5px;
    border-color: transparent;
}

.launchButton2{
	cursor: pointer;
	background-color: #90ee90;
    padding: .25rem 1rem;
    border-radius: 5px;
    border-color: transparent;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 700px;
  }
}
.lastButton{
	margin-right: 6rem;
	cursor: pointer;
	background-color: #b2f5a6;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 0.5rem;
}

.lastButton:hover {
  background-color: #66d253;
}

.launchButton1:hover {
  background-color: #66d253;
}

.launchButton2:hover {
  background-color: #66d253;
}


.lastButton:focus {
  background-color: #66d253;  
  border-color: transparent;
}

.launchButton1:focus { 
  background-color: #66d253;  
  border-color: transparent;
}

.launchButton2:focus {
   background-color: #66d253;  
  border-color: transparent;
}
