body {
  background-color: #e0e2e2;
}

#headerId{
	font-size: 1.5rem;
    font-weight: bold;
}

.col-3_yearTile{
	background-color: white;
    width: 14rem;
    height: 25rem;
    border-radius: 10px;	
}

.filterLable{
	text-decoration: underline;
	text-align: center;
	text-underline-position: under;
}
}

#filterId{
	padding-left: 1rem;
	font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 700px;
  }
}